body{
    margin: 0;
    padding: 0;
    font-size: 2vw;
    font-family: zzz; 
    text-shadow: 1px 1px 5px #FFF,-1px -1px 5px #FFF;
    overflow:hidden;
    text-align:center;
    -webkit-user-select:none;
}
a{
    text-decoration: none;
    color: #000;
}
@keyframes 加載{
    from {transform: translateY(-2vw);}
    to {transform: translateY(2vw);}
}
#加載{
    animation: 加載 0.5s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
.上{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%,0);
    opacity: 0.5;
}

.右{
    text-align: right;
    position: absolute;
    right: 1%;
}
#狀態{
    font-size:75%;
}
#設置按鈕{
    display:inline-block;
    font-size:180%;
    opacity: 0.4;
    font-family: 黑体;
    transition: opacity 0.2s, transform 0.2s;
}
#設置按鈕:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition: opacity 0.2s, transform 0.2s;
}
.左{
    position:absolute;
    left:1%;
    top:1%;
    text-align: left;

    background:url('紙背景模糊.jpg');
    background-attachment: fixed; 
    background-size:cover;
    box-shadow: 0px 0px 14px;
    border:1px solid rgba(0,0,0,0.2);

    padding: 1vw;
    width: 14vw;
    border-radius: 0.5vw;

    font-size:75%;
}
#寫法{
    font-size:150%;
}
.正中{
    font-size:350%;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.底{
    height:25%;
    width:100%;
    position:absolute;
    bottom:0%;
}
#切{
    border-top:1px solid #aaa;
    padding-top:1vw;
    text-align:center;
    transition: font-size 0.2s,color 0.2s;
}
#切:hover{
    color:#900;
    font-size:140%;
    transition: font-size 0.2s,color 0.2s;
}

.選項按鈕{
    height:100%;
    border:solid 1px #777;
    box-sizing: border-box;
    transform-origin: 50% 0%;
    transform: scale(0.8);
    box-shadow: 0px 0px 10px;
}
.選項{
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:180%;
}
#bg{
    background: url('紙背景.jpg');
    background-size: cover;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -10;
}
.水晶{
    border-radius: 2vw;
    background:url('紙背景模糊.jpg');
    background-size:cover;
    background-position: center;
    border:1px solid rgba(0,0,0,0.2);
    display:block;
    transition: filter 0.4s, transform 0.4s;
}
.水晶:hover{
    filter:hue-rotate(80deg);
    transform: scale(0.85);
    transition: filter 0.2s, transform 0.2s;
}