div{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	font-family:微软雅黑;
	font-size:20;
	overflow:hidden;
	-webkit-user-select:none;
}
button{
	font-family:微软雅黑;
}
.kiri{
	border-radius:2px;
	font-size:18;
}
.用户框{
	position:absolute;
	top:20;
	right:20;
}
.头像框{
	width:60;
	height:60;
	overflow:hidden;
	border-radius:8px;
    border:1px solid #fff;
}
.用户{
	width:60;
	color:rgba(255,255,255,0.6);
	font-size:12;
}
.头像{
	width:60;
	height:60;
}

.下面{
	position:absolute;
	height:240;
	bottom:0;
	width:1366;
	text-align:center;
}

#選擇單詞{
	display:none;
}
.选项定位{
	display: inline-block;
	width:300; 
	height:170;
	margin:0;
	padding:10;
}
.选项{
	width:300;
	height:170;
	font-size:30; 
	margin:0;
	padding:0;
	border-radius:3px;
	float:left;
}

.错误反馈{
	position:absolute;
	top:-20;
	display:None;
}



.大鍵{
	width:620; 
	height:170;
	margin:10;
	padding:0;
	font-size:30;
	border-radius:3px;
}




.单词{
	width:100%;
	text-align:center;
	position:absolute;
	top:200;
	font-size:100;
	display:none;
}
.完成{
	top:20;
	left:20;
	position:absolute;
	background:rgba(255,255,255,0.1);
	border-radius:10px;
	display:none;
}
.用来保持大小{
	width:220;
	padding:10;
}
#上个例句 b {
	color:#ff9;
}
#上个单词{
	font-size:15;
}
#上个拼写{
	font-size:25;
}
#上个词性{
	float:right;
}
#背景{
	z-index:-1;
	position:absolute;
}
.背景詞{
	z-index:-1;
	width: 1px;
	position:absolute;
	display: none;
}

.例句中文{
	color:rgba(155,155,255,0.75);
}

small{
	color:rgba(255,255,255,0.6)
}
button{
	background:rgba(0,0,0,0);
	color:#fff;
    background:transparent; 
    border:1px solid #fff;
}   
button:focus{
    outline: none;
}
button:hover{
    color: #ff8;
    border:1px solid #ffc;
}
button {transition:color 0.5s;border:0.2s;}